<div class="bg-gray-200 w-full h-full flex items-center justify-center ">

  <div class="bg-white w-12/12 h-12/12 p-9 rounded-lg">
    <h1 class="text-indigo-900 font-bold font-serif">Login to your account</h1>
    <div>
      <input name="email" type="email" class="border border-indigo-700 rounded-md mt-5 pl-4" placeholder="Email">
    </div>
    <div>
      <input name="password" type="password" class="border border-indigo-700 rounded-md mt-5 pl-4" placeholder="Email">
    </div>
    <div class="flex items-center justify-between">
      <button class="mt-5 rounded-lg bg-indigo-700 pl-11 pr-11 text-white text-bold active:bg-white">Login</button>
      <a class="text-indigo-700 mt-5" href="#">Forgot Password</a>
    </div>
    </div>
</div>
